<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller='NarrowItDownController as narrow'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="col-md-12">
            <input type="text" placeholder="search term" class="form-control" ng-model="searchTerm">

            <button class="btn btn-primary narrow-button" ng-click="narrow.getMatchedMenuItems(searchTerm)">Narrow It Down For Me!</button>

    </div>
    <!-- found-items should be implemented as a component -->
       <div class="col-md-12">
        <found-items found-items="narrow.found" on-remove="narrow.removeItem(index)"></found-items>
       </div>
  </div>

   <script src="angular.min.js"></script>
   <script src="app.js"></script>
</body>
</html>
