<div class="container">
<form name="signUpForm" novalidate ng-submit="signUpCtrl.signUp()">
    <div class="form-group row">
        <label for="firstName" class="col-md-2 col-form-label">First Name: </label>
        <input class="form-control" id="firstName" type="text" name="firstName" ng-model="signUpCtrl.user.firstName" required>
        <span ng-if="signUpForm.firstName.$error.required && signUpForm.firstName.$touched">
            First Name is Required
        </span>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-md-2 col-form-label">Last Name: </label>
        <input class="form-control" id="lastName" type="text" name="lastName" ng-model="signUpCtrl.user.lastName" required>
        <span ng-if="signUpForm.lastName.$error.required && signUpForm.lastName.$touched">
            Last Name is Required
        </span>
    </div>
    <div class="form-group row">
        <label for="email" class="col-md-2 col-form-label">Email: </label>
        <input class="form-control" id="email" type="email" name="email" ng-model="signUpCtrl.user.email" required
        placeholder="Email">
        <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
            Email is Required
        </span>
    </div>
    <div class="form-group row">
        <label for="phone" class="col-md-2 col-form-label">Phone Number: </label>
        <input class="form-control" id="phone" type="text" name="phone" ng-model="signUpCtrl.user.phoneNumber" required
        placeholder="Phone ###-###-####" pattern="(\d{3})-(\d{3})-(\d{4})">
        <span ng-if="(signUpForm.phone.$error.required || signUpForm.phone.$invalid) && signUpForm.phone.$touched">
            Phone Number must be in the format ###-###-####
        </span>
    </div>
    <div class="form-group row">
        <label for="shortName" class="col-md-2 col-form-label">Favorite Menu Item: </label>
        <input class="form-control" id="shortName" type="text" name="shortName" ng-model="signUpCtrl.user.shortName" ng-model-options="{debounce: 500}" required menu-item-validator>
        <span ng-if="(signUpForm.shortName.$error.required || signUpForm.shortName.$invalid) && signUpForm.shortName.$touched">
            Menu item not found
        </span>
    </div>
    <button class="btn btn-primary" type="submit" ng-disabled="signUpForm.$invalid || signUpForm.$pending">Submit</button>
</form>

<div id="info" ng-if="signUpCtrl.completed">
    Your information has been saved.
</div>
</div>